@import url(./globalStyles.css);

.toast-close {
  position: absolute;
  top: 2px;
  right: 2px;

  color: var(--gray-1);
}

.toast-title {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 500;
}

.toast-title--only {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.toast-check {
  font-size: 1.5rem;
  font-weight: 900;
}

.toast-message {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: normal;
}

.toast-paragraph--register {
  font-size: 0.9rem;
  color: var(--gray-1);
}

.toast-anchor {
  color: var(--brand-1);
}

.toast-anchor:hover {
  text-decoration-color: var(--brand-1);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.toastify-animation--top {
  animation: rightTransition--top 0.7s;
}

.toastify-animation--bottom {
  animation: rightTransition--bottom 0.7s;
}

@keyframes rightTransition--top {
  0% {
    top: 15px;
    right: -50%;
  }

  100% {
    top: 15px;
    right: 15px;
  }
}

@keyframes rightTransition--bottom {
  0% {
    bottom: 15px;
    right: -50%;
  }

  100% {
    bottom: 15px;
    right: 15px;
  }
}
